node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Local .terraform directories
.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude .tfvars files
*.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
